<div class="card" style="margin: 10px">

	<div class="card-body">
		<h5 class="card-title">{{nombre}}</h5>
		<p class="card-text">Instrucciones: {{instrucciones}}</p>
		{{!-- <a href="/remove?id={{_id}}" class="btn btn-primary">Delete recepie</a> --}}
	</div>
</div>
