<h1>{{title}}</h1>
<div class = 'row' style="margin-top:50px">
        {{#each recetas}}
            {{#with this}}
                <div class = "col-8">{{>receta}}</div> 
            {{/with}}
        {{/each}}
    
</div>


{{#if recetas.length}} 
    <h2>Theres are {{recetas.length}} recipes in the list</h2>
  
   {{else}}
    <img src="https://media0.giphy.com/media/l4EoMN9qjAOaaAcNO/200.webp?cid=ecf05e4792c60qrrbtrug3fcpokrb83bhjrf6p2jx0gw5e7h&rid=200.webp&ct=g" alt="Inactive">
{{/if}}