<form action = "/list/form_recipe" method="POST">
	<p>Recipe's name:</p>
	<input name="recipe_name" />
	<p>Instructios:</p>
	<input name="recipe_instructions" />
	<p></p>
	<button type="submit">ADD</button>
</form>
<a href="/">Back</a> 