<form action = "/list/form_ingredient?receta_id={{_id}}" method="POST">
	<p>Ingredient:</p>
	<input name="nombre" />
	<p>Amount:</p>
	<input name="cantidad" />
	<p></p>
	<button type="submit">ADD</button>
</form>
<a href="/">Back</a> 